:root {
    --dark-color: #242333;
    --darker-color: #15141f;
    --light-color: #ffffff;
    --grey-color: #eeeeee;
    --dark-grey-color: #6a6a6a;
    --accent-color: #01b0d3;
    --bright-accent-color: #3adeff;
}

* {
    font-family: 'Mukta', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.alignCenter {
    align-items: center;
}

.brightButton {
    font-size: 100%;
    font-weight: bolder;
    margin: 10px;
    width: 200px;
    height: 40px;
    background-color: var(--accent-color);
    color: var(--dark-color);
    border: none;
    border-radius: 2px;
}

.brightButton:hover {
    color: var(--darker-color);
    background-color: var(--bright-accent-color);
}

.darkButton {
    font-size: 100%;
    font-weight: bolder;
    margin: 10px;
    width: 200px;
    height: 40px;
    background-color: var(--dark-color);
    color: var(--accent-color);
    border: none;
    border-radius: 2px;
}

.darkButton:hover {
    background-color: var(--darker-color);
    color: var(--bright-accent-color);
}

.darkButton[disabled] {
    background-color: var(--grey-color);
    color: var(--dark-grey-color);
}

.darkButton[disabled]:hover {
    background-color: var(--grey-color);
    color: var(--dark-grey-color);
}

.styledTable thead tr {
    font-weight: bolder;
    font-size: 150%;
    border-bottom: 3px solid var(--dark-color);
}

.styledTable tbody tr {
    box-shadow: 0 8px 2px -8px var(--dark-color);
}

.styledTable tbody tr:hover {
    box-shadow: 0px 8px 4px -8px var(--accent-color);
}

.styledTable thead th {
    width: 250px;
}

.styledTable thead th.smallHeading {
    width: 120px;
}

.styledTable tbody button {
    width: 100px;
    height: 35px;
}

.styledTable * {
    text-align: center;
}

.styledTable {
    margin: auto;
    border-collapse: collapse;
}