.LoginPage {
    padding: 20px;
    max-width: 500px;
    align-self: center;
}

#loginMessage {
    margin-top: 20vh;
    color: var(--dark-color);
    font-size: 150%;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm>* {
    margin: 5px;
    align-self: center;
    width: 200px;
    height: 30px;
    font-size: 100%;
}

#loginForm>button {
    font-size: 125%;
    height: 40px;
}