#bookOptions {
    align-self: center;
    display: flex;
    align-items: center;
}

#bookOptions>* {
    margin-left: 15px;
    margin-right: 15px;
}

#bookOptions>button {
    width: 100px;
    height: 35px;
}