#bookViewForm > fieldset {
    padding: 20px;
}

#bookViewForm > fieldset > div {
    align-items: center;
    width: 600px;
    margin: 5px;
}

#bookViewForm > fieldset > div input {
    float: right;
    clear: both;
    margin-right: 10px;
    width: 500px;
}