.BooksPage {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.BooksPage>* {
    align-self: center;
}

#searchDiv {
    margin: 10px;
    display: flex;
    align-items: center;
}

#searchInput {
    width: 30vw;
    min-width: 200px;
    height: 30px;
    font-size: 100%;
}

#searchButton {
    height: 35px;
    width: 100px;
}